.container {
    max-width: 1160px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.button {
    border-radius: 4px;
    border: none;
    background-color: rgba(52, 120, 160, 0.932);
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    padding: 20px;
}

.button:hover {
    background-color: rgb(3, 55, 85);
    cursor: pointer;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}