.button {
    box-sizing: border-box;
    font-size: 18px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    opacity: 0.7;
    width: inherit;

    &:hover {
        cursor: pointer;
        opacity: 1;
        // background-color: #2632a0;
    }

    
    &:disabled{
        cursor: default;
        border: 1px solid #123456;
        color: #123456;
        background: none !important;
        opacity: 1;
    }
}