.inputWrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    display: block;
    padding: 6px 0;
    font-size: 14px;
}

.input {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    padding: 7px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #123456;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
        color: #212529;
        background-color: #fff;
        border-color: #123456;
        outline: 0;
        box-shadow: 0 0 0 3px #12345633;
    }

    &:disabled {
        background: none;
    }
}

.errorMessage {
    font-size: 12px;
    color: red;
    margin-top: 3px;
}