@import "./basic/reset";
@import "./absctracts/variables";


img {
    width: 100%;
    display: block;
}

p, a, span, li, button, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $text-primary;

    @media (min-width: $tablet) {
        font-size: 16px;
    }
}

.container {
    padding: 0 30px;

    @media (min-width: $tablet) {
        padding: 0 80px;
    }
    @media (min-width: $desktop) {
        margin: 0 auto;
        max-width: 1160px;
    }
}

.not-mobile {
    display: none;
    @media (min-width: $tablet) {
        display: initial;
    }
}

.desktop-only {
    display: none;
    @media (min-width: $desktop) {
        display: initial;
    }
}

@import "./components/header";
@import "./components/recent-posts";
@import "./components/insta-shots";
@import "./components/in-touch";