.formWrap {
    width: inherit;
    display: flex;
    flex-direction: column;
    row-gap: 5px;


    button {
        margin-top: 20px;
    }

}

.title {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}