.backgroundContainer {
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentContainer{
    background-color: white;
    border-radius: 15px;
    width: 500px;
    overflow: hidden;
}

.header {
    border-bottom: 1px solid grey;
    background-color: #f3f1f1;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 20px;
    }
}

.closeButton {
    border: none;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    background-image: url("./close_icon.svg");
    opacity: 0.7;
    background-size: cover;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.body{
    padding: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    p{
        text-align: center;
        margin: 0;
        padding: 0;
    }
}

.footer {
    border-top: 1px solid grey;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}
