p, h3, a, button, span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.card-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 50px;
}

.card {
    border: 1px solid rgb(59, 56, 56);
    border-left: none;
    border-right: none;
    padding: 15px;
    background-color: rgb(248, 248, 248);

    display: grid;
    grid-template: min-content;
    grid-template-columns: min-content 1fr;
    column-gap: 25px;
    justify-content: space-between;
}

.card .card-image {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
}

.card .title-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .title {
    font-size: 24px;
    font-weight: 700;
}

.card .button {
    padding: 6px 15px;
    border-radius: 15px;
    border: 1px solid rgb(48, 2, 2);
    color: rgb(48, 2, 2);
    background: none;
}

.card .button:hover{
    cursor: pointer;
    background-color: rgba(73, 9, 9, 0.24);
}

.user-info a{
    color: grey;
}