html  { box-sizing: border-box; }
body {width: 1280px; margin: 0 auto; font-family: 'Roboto', sans-serif;}
img { max-width: 100% }

.header .logo {
    display: inline-block;
    margin-top: 63px;
}

.header .logo a {
    font-size: 80px;
    color: #000;
    line-height: 1.15;
}

.header .logo .colored { 
    color: rgb(15, 214, 228);
}

.header .header-menu {
    background-color: rgba(53, 68, 79, 1);
    margin-top: 38px;
}



.header .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-menu .menu-item:hover {
    background: #222F3A;
    cursor: pointer;
}

.header .menu-item {
    box-sizing: border-box;
    font-size: 24px;
    line-height: 1;
    border-right: 1px solid #fff;
    
}

.header .header-menu a {
    display: inline-block;
    color: #fff;
    padding: 26px 40px 19px 40px;
}

.header .menu-item:first-child {
    border-left: solid 1px #fff;
}

.main {display: flex;
    vertical-align: top;
    margin-top: 50px;
}

.sidebar .menu-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 345px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    
}

.sidebar .menu-item {
    box-sizing: border-box;
    font-size: 27px;
    line-height: 1;
    padding: 25px;
    padding-left: 44px;

}

.menu-item a {
    color: #495863;
}

.sidebar .menu-item:hover {
    background: #DBDBDB;
    padding-left: 80px;
    cursor: pointer;
}

.main .g-section {
    width: 885px;
    margin-left: 50px ;
}

.g-section .images-wrap {
    box-sizing: border-box;
    border: solid 1px rgba(0, 0, 0, 0.3);
    height: 529px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.g-section img {
    width: 320px;
}


.g-section .image-item:hover {
    transition: 1s;
    transform: scale(1.2);
}

.g-section .section-text {
    font-size: 18px;
    line-height: 1.3;
    margin-top: 35px;
}

.footer {
    display: flex;
    background-color: #DBDBDB;
    margin-top: 55px;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}

.footer-menu .menu-list{
    display: flex;
    margin-left: 40px;
    gap: 40px;
}

.footer .menu-item {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 1;
}

.footer .menu-item a {
    color: #010101;
}

.footer .menu-item a:hover {
    color: rgb(12, 128, 206);
    border-bottom: 1px solid;
}

.footer .copyright {
    font-size: 24px;
    line-height: 1;
    color: #010101;
}