body {
    background-image: url('../images/background/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

p, a {font-family: 'Open Sans', sans-serif; color: #fff; font-weight: 400;}

.container {
    width: 1030px;
    margin: 0 auto;
}

.header .container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin-top: 46px;
    align-items: center;
}

.header .logo a {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    line-height: 1;
}
.header .logo a .size {
    font-size: 29px;
}

/*.header .logo a:not(:last-child) {
    margin-right: 8px;
}*/
.header .logo img {
    margin-right: 8px;
}

.header .contacts {
    display: flex;
    flex-direction: column;
}

.header .contacts a:not(:last-child) {
    margin-bottom: 19px;
}

.header .contacts a {
    display: block;
    text-align: end;
    font-size: 18px;
    font-weight: 400;
}
.header .contacts a:hover {color: #F26522;}

.header .logo:hover p {color: #F26522;}
.header .image-hover {
    position: absolute;
    display: none;
}

.header .logo:hover .image-hover {
    display: block;
}

/*_____________________________________________________________*/

/*style for CONTENT*/

.content .card-wrap {
    margin-top: 17px;
    display: grid;
    box-sizing: border-box;
    width: 1030px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 65px;
    row-gap: 37px;
}

.content .card-image {position: relative;}

.content .image-hover {
    position: absolute;
    bottom: 0;
    background-color: #F26522;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 7px 16px 12px; 
}

.content .card-item img {display: block;}

.content .card-item:hover .image-hover {display: flex;}
.content .card-item:hover .card-title {color: #F26522;}

.content .card-item .hover-left {font-size: 10px;}
.content .card-item .hover-left .price {font-size: 20px; margin-top: 8px;}
.content .card-item .hover-right {font-size: 14px;} 

.content .card-item .hover-right::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-right: 1.5px solid #fff;
    border-top: 1.5px solid #fff;
    transform: rotate(45deg);
    margin-left: 16px;
}

.content .card-title {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.footer .copyright {
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 15px;
}
