.sectionContainer {
    display: grid;
    grid-template-columns: 300px auto;
    column-gap: 15px;
}

.buyForm {
    position: fixed;
    top: 70px;
    height: calc(100vh - 70px);
    overflow-y: scroll;

    box-sizing: border-box;
    width: 300px;
    padding: 30px;
    background: #12345633;
    border-right: 1px solid #123456;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContainer {
    margin: 120px auto;
    max-width: 1160px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
}

.noItemsMessage {
    margin-top: 120px;
    text-align: center;
}
