.cardWrap {
    position: relative;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    width: 200px;

    &:hover {
        border: 1px solid grey;
        box-shadow: 1px 1px 5px 5px lightgrey;
    }

    p {
        margin: 10px 0;
    }
}


img {
    max-width: 100%;
    display: block;
}

.productImg {
    height: 200px;
}

.favoriteButton {
    padding: 0;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 100%);
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.price {
    font-size: 24px;
    font-weight: 700;
}

.color {
    display: flex;
    align-items: center;
    column-gap: 6px;

    div {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 1px solid grey;
    }
}

.id {
    font-weight: 300;
    color: grey;
}


.deleteButton {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 100%);

    border: none;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    background-image: url("./close_icon.svg");
    opacity: 0.7;
    background-size: cover;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}