body {
    background-image: url('../images/background/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

p, a, span, input {font-family: 'Ubuntu', sans-serif; font-weight: 400;}
.header p, .header a {color: #fff;}

.header .header-logo a {
    margin-left: 80px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.header .header-logo a:hover {color: #01813f;}

.header .header-login p {
    display: inline-block;
    font-size: 14px;
    position: relative;
    align-items: center;
    margin-left: 25px;
}
.header .header-login a:hover {color: #01813f;}
.header .header-login p::before {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    height: 20px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translate(0, -50%);

}


.header .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    height: 60px;
    box-sizing: border-box;
}

.header .header-menu {
    margin-right: 80px;
    display: flex;
    align-items: center;
}

.header .icon-wrap {
    display: flex;
    align-items: center;
}

.header .icon-wrap a {
    display: inline-block;
    margin-right: 25px;
}
.header .header-menu svg:hover * {fill: #01813f;}


/*_______________________________________________________________________________________*/

/*style for form container*/

.container {
    min-height: calc(100vh - 60px);
    position: relative;
    box-sizing: border-box;
}

.form-container {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-wrap {
    background-color: #fff;
    box-sizing: border-box;
    padding: 35px 61px;
    width: 445px;
    position: relative;
    border: none
}

.form-wrap .form-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.form-wrap .form-title span {font-size: 20px;}
.form-wrap .form-title a {font-size: 14px; color: #3CB878;}
.form-wrap .form-title a:hover {text-decoration: underline; color: #01813f;}

.form-wrap .form-title span::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    border: none;
}

/*_______________________________________________________________________________________*/

/*style for header buttons*/

.form-header .button-wrap {
    margin-top: 14px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
}

.form-header .button {
    display: flex;
    background-color: #305DB8;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 4px;
    height: 50px;
}
.form-header .button:hover {background-color: #022263;}
.form-header .button.red {background-color: #DF4A32;}
.form-header .button.red:hover {background-color: #AB1F09;}

.form-header .button p {
    color: #fff;
    padding-left: 17px;
    padding-right: 17px;
}

.form-header .button .icon {
    width: 50px;
    height: 100%;
    position: relative;
}
.form-header .button .icon::after{
    content: '';
    display: inline-block;
    height: 28px;
    width: 1px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.form-header .button .icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*_______________________________________________________________________________________*/

/*style for form*/

.form {
    margin-top: 40px;
    box-sizing: border-box;
}

.form .fieldset-input {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-color: #F2F2F2;
    box-sizing: border-box;
    padding: 0;
}

.form .legend {
    text-align: center;
    color: #848484;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 1;
}


.form .input {
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    padding-left: 20px;
    margin-top: 16px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
}

.form .input:focus {
    color: #434343;
    outline: 0;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}


/*_______________________________________________________________________________________*/

/*style for checkbox*/

.form .fieldset-cbox {
    border: none;
    margin-top: 14px;
    padding: 0;
    font-size: 14px;
}

.form .fieldset-cbox input[type="checkbox"] {
    display: none;
}

.form .fieldset-cbox .cbox {
    display: inline-block;
    width: 19px;
    height: 19px;
    border: 1px solid #bebebe;
    box-sizing: border-box;
    margin-right: 8px;
}

.form .fieldset-cbox label {
    display: flex;
    align-items: center;
}

.form .fieldset-cbox .cbox img{
    display: none;
}

.form .fieldset-cbox input[type="checkbox"]:checked + label img{
    display: block;
}

.form .fieldset-cbox a {color: #3CB878;}
.form .fieldset-cbox a:hover{color: #01813f; text-decoration: underline;}


/*_______________________________________________________________________________________*/

/*style for button*/

.form .button {
    box-sizing: border-box;
    width: 100%;
    height: 46px;
    background-color: #3CB878;
    font-size: 16px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
}

.form .button:hover {
    background-color: #01813f;
}