@import "../absctracts/variables";


.header__mobile-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;

    @media (min-width: $tablet) {
        display: none;
    }
}

.header__burger-icon {
    width: 44px;
    height: 37px;
    background-color: $background;
    background-image: url("./images/icons/menu-button.png");
    &.active {
        background-image: url("./images/icons/close-button.png")
    }
}


.header__dropdown-menu {
    display: none;

    &.active {
        display: block;
        position: absolute;
        right: 0;
        top: 100%;

        @media (min-width: $tablet) {
            display: none;
        }
    }
}

.header__dropdown-list {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    row-gap: 10px;
    padding: 6px 12px;
}

.header__dropdown-item {
    text-transform: uppercase;
    box-sizing: border-box;
    color: $text-primary;
    font-size: 11px;
    line-height: 1.5;
    display: block;
    width: 160px;

    &.active {
        color: $accent;
    }
}


.header__main-menu {
    display: none;

    @media (min-width: $tablet) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: $tablet) {

    .header__menu-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: none;
    }

    .header__menu-item {
        display: block;
        padding: 40px 12px;
        text-transform: uppercase;
        box-sizing: border-box;
        color: $text-primary;
        font-size: 12px;
        line-height: 1.5;

        &.active {
            color: $accent;
        }
    }
}


@media (min-width: $desktop) {
    .header__menu-item {
        font-size: 16px;
        padding: 45px 34px;

        &:hover {
            color: $accent;
        }
    }
}