.in-touch {
    background-color: $background;
    padding: 38px 0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.in-touch__title {
    color: white;
    text-align: center;
}

.in-touch__icon-wrap {
    margin-top: 26px;
    display: flex;
    column-gap: 6px;

    @media (min-width: $tablet) {
        font-size: 16px;
        margin-top: 34px;
    }
}

.in-touch__icon {
    display: block;
    width: 34px;
}

.in-touch__desc {
    margin-top: 8px;
    text-align: center;
    color: white;
    font-size: 12px;
    line-height: 1.5;
    max-width: 680px;

    @media (min-width: $tablet) {
        font-size: 16px;
        margin-top: 22px;
    }
}

.in-touch__contact-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26px;

    @media (min-width: $tablet) {
        flex-direction: row;
        column-gap: 16px;
        margin-top: 34px;
    }
}

.in-touch__contact {
    color: white;
    font-size: 14px;
    line-height: 1.5;

    &:not(:last-child)::after {
        content: "/";
        margin-left: 16px;
    }

    @media (min-width: $tablet) {
        font-size: 16px;
    }
}