.insta-shots {
    padding: 40px 0;
    @media (min-width: $tablet) {
        padding: 50px 0;
        margin-top: 50px;
        background-color: rgb(243, 243, 243);
    }
}

.insta-posts__title-wrap {
    display: flex;
    justify-content: space-between;
}

.insta-shots__image-wrap {
    display: flex;
    column-gap: 10px;
    width: inherit;
    margin-top: 20px;
    @media (min-width: $tablet) {
        margin-top: 24px;
    }
}

.insta-shots__img {
    flex-grow: 1;
}