.recent-posts {
    margin-top: 40px;
}

.recent-posts__card-wrap {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;

    @media (min-width: $tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
    }
}

.recent-posts__card-item {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    @media (min-width: $tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
    }
}

.recent-posts__card-image {
    width: 160px;
}

.recent-posts__card-text {
    max-width: 380px;
}

.recent-posts__card-title {
    color: $text-primary;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;

    @media (min-width: $tablet) {
        font-size: 16px;
    }
}

.recent-posts__card-comment {
    font-size: 11px;
    color: $text-comments;
    line-height: 1.5;
    margin-top: 10px;

    @media (min-width: $tablet) {
        font-size: 12px;
    }
}

.recent-posts__card-desc {
    display: none;
    @media (min-width: $tablet) {
        display: block;
        margin-top: 12px;
        text-align: justify;
        font-size: 14px;
        color: $text-secondary;
        line-height: 1.5;
    }
}