.headerSection{
    background-color: #123456;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 2;
}

.container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconWrap {
    display: flex;
    column-gap: 30px;
}

.icon {
    position: relative;
    img {
        width: 30px;
        height: 30px;
    }

    p {
        margin: 0;
        font-size: 14px;
        color: #fff;

        position: absolute;
        top: 0;
        right: 0;
        transform: translate(100%, -70%);
    }
}