html  { box-sizing: border-box;}
body { margin: 0; background-color: #F2F2F2;}
img { max-width: 100%;}
a { text-decoration: none;}

.header {
    box-sizing: border-box;
    display: flex;
    background-color: #313131;
    justify-content: space-between;
    align-items: center;
}

.header .header-left {display: flex; align-items: center;}
.header .logo-image {width: 27px; padding: 0 22px;}
.header .logo-text a {
    font-size: 22px;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    padding-left: 6px;
}

.header-menu .menu-list {
    display: flex;
}

.header-menu .menu-list a {
    font-size: 16px;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.header-menu .menu-list a:hover {
    color: #14B9D5;
}
/*.header-menu .menu-item {
    padding-top: 26px;
    padding-bottom: 26px;
}*/

.header-menu .menu-item:not(:first-child) {
    padding-left: 18px;
}
.header-menu .menu-item:not(:last-child) {
    padding-right: 18px;
}


.header .header-right img {width: 16px;}
.header .header-right {
    box-sizing: border-box;
    background-color: #000;
    padding: 27px;
}

/*_____________________________________________________________________________________*/

/*style for section LATEST NEWS*/

.latest-news {
    min-height: 369px;
    background-image: url('../images/latest_news/header-background.png');
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest-news .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.g-section .button-wrap {margin-top: 44px;}

.g-section .section-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.g-section .section-title.colored {
    color: #18B4CF;
    margin-top: 50px;
    margin-bottom: 50px;
}

.g-section .button {
    margin: 10px;
    box-sizing: border-box;
    width: 170px;
    padding: 16px;
    border: none;
    border-radius: 4px;
    background-color: #89CA62;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.g-section .button-wrap .colored {
    background-color: #14B9D5;
}

/*_____________________________________________________________________________________*/

/*style for section POSTS*/

.posts .card-wrap {
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    width: 1170px;
    justify-content: space-between;
}

.posts .card-item:not(:last-child) {
    margin-bottom: 32px;
}

.posts .card-desc {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 22px 0;
    background-color: #fff;
}

/*_____________________________________________________________________________________*/

/*style for section CLIENTS*/

.clients {
    margin-top: 74px;
    min-height: 588px;
    background-image: url('../images/clients/bg-image.png');
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    justify-content: center;
}

.clients .section-title {position: relative;}
.clients .section-title::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    position: absolute;
    top:  calc(100% + 90px);
    left: 50%;
    transform: translate(-50%)
}

.clients .logo-wrap {
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: column;
    gap: 58px;
    align-items: center;
}

/*_____________________________________________________________________________________*/

/*style for section TOP RATED*/

 .top-rated .images-wrap {
     display: grid;
    grid-auto-flow: column;
 }

 /*_____________________________________________________________________________________*/

/*style for section HOT NEWS*/

.hot-news .card-wrap {
    box-sizing: border-box;
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "item1 item1 item1 item2"
        "item3 item3 item4 item4"
        "item5 item5 item6 item6"
        "item7 item8 item8 item8";
    gap: 45px 35px;
    
}

.hot-news .item-one {grid-area: item1;}
.hot-news .item-two {grid-area: item2;}
.hot-news .item-three {grid-area: item3;}
.hot-news .item-four {grid-area: item4;}
.hot-news .item-five {grid-area: item5;}
.hot-news .item-six {grid-area: item6;}
.hot-news .item-seven {grid-area: item7;}
.hot-news .item-eight {grid-area: item8;}


.hot-news .card-image {
    width: 100%;
}

.hot-news .item-one .card-image ,
.hot-news .item-eight .card-image  {
    width: 100%;
    height: 100%;
}

.hot-news .card-item.item-one,
.hot-news .card-item.item-eight {
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: column;
    background-color: #fff;
    border: none;
    align-items: center;
    width: 100%;
}

.hot-news .card-item {
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    border: none;
    align-items: center;
}


.hot-news .card-text {
    box-sizing: border-box;
    padding-right: 24px;
    padding-left: 24px;
    text-align: right;
    line-height: 1.5;
}
.hot-news .card-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-top: 14px;
    padding-bottom: 14px;
}

.hot-news .card-title.center {
    padding-left: 0;
    text-align: center;
}

.hot-news .card-title.item-one
.hot-news .card-item.item-eight {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 14px;
}

.hot-news .card-desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 14px;
}


/*_____________________________________________________________________________________*/

/*style for FOOTER*/

.footer {
    margin-top: 77px;
    background-color: #000;
}

.footer .footer-content {
    height: 80px;
    display: grid;
    grid-auto-flow: column;
    width: 1170px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.footer .copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
}

.footer .logo {
    display: grid;
    grid-auto-flow: column;
    align-items: start;
    gap: 3px;
}