.container {
    max-width: 1160px;
    margin: 0 auto;
}

.cards {
    padding: 50px 0;
}

.cards__card-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.cards__card-item {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 15px;
}