p, a, span, input {font-family: 'Ubuntu', sans-serif; font-weight: 400;}

.input {
width: 100px;
height: 25px;
border: 1px solid #333;
border-radius: 4px;
outline: none;
margin-left: 5px;
}

.price-box {
    display: inline-block;
    padding: 15px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-box {
    display: inline-block;
    margin-top: 15px;
    border-radius: 4px;
}

.message-box {
    padding: 5px;
    border: solid 1px rgb(100, 95, 95);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.message {
    font-size: 12px;

}

.button {
    width: 20px;
    height: 20px;
    padding: 2px;
    border: solid 1px rgb(100, 95, 95);
    border-radius: 20px;
}