.App {
  text-align: center;
}

.buttonSection {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.sectionContent {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

}

.buttonWrap {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
  padding: 15px;
}