.header .header-menu {width: fit-content; margin-left: auto; margin-right: auto; margin-top: 25.5px; margin-bottom: 25.5px;}


.header-menu .menu-list {padding: 0;
                        list-style: none;
                        margin: 0 -36px;}


 .header-menu .menu-list a {text-decoration: none; color: #FF0000; font-size: 18px; font-weight: 700;}

.header-menu .menu-item {display: inline-block;
                         text-transform: uppercase;
                        margin-left: 36px;
                        margin-right: 36px;}

.header-image img {width: 100%;}


.content .content-title {text-transform: uppercase; text-align: center; font-size: 22px; font-weight: 700; 
                        margin-top: 48px;}
    
.content .content-text {text-align: center; margin-left: 2%; margin-right: 2%; margin-top: 28px;
                        font-size: 16px; font-weight: 400; line-height: 26px;}

.content .button-wrap {width: fit-content; margin-left: auto; margin-right: auto; margin-top: 66px;margin-bottom: 42px;}

.button {width: 191px; height: 51px; text-transform: uppercase; color: #FFFFFF; 
        font-size: 12px; font-weight: 700; border-style: none; border-radius: 4px; background: #FF0000;}

.footer {height: 108px; position: relative;}
.footer .footer-text {font-size: 16px; font-weight: bold; line-height: 19.5px;
        margin: 0;
        position: absolute;
        bottom: 40px;
        right: 105px;} 

